<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ 'HOME.TITLE' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="calendar">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>{{ 'CALENDAR.TITLE' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="user">
      <ion-icon name="body"></ion-icon>
      <ion-label>{{ 'USER.TITLE' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
